html, body {
  background-color: rgb(38, 39, 47);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

@keyframes slide_title_to_top {
  0% {
    font-size: 78px;
    width: fit-content;
    transform: translateY(calc(40vh - 13px));
    grid-template-columns: repeat(6, 100px);
  }
  100% {
    transform: translateY(0);
  }
}
.title-container {
  display: grid;
  width: fit-content;
  margin: 13px auto 3px;
  grid-template-columns: repeat(6, 34.6666666667px);
  animation: 0.6s slide_title_to_top 0.6s backwards;
  color: rgb(190, 132, 43);
  font-size: 37px;
  font-family: "Courier New", Courier, monospace;
}
.title-container div {
  display: block;
  text-align: center;
}

@keyframes slide_menu_to_bottom {
  0% {
    transform: translateY(calc(-160vh + 0px + 88px));
  }
  100% {
    transform: translateY(0);
  }
}
.menu {
  position: absolute;
  display: flex;
  margin: auto;
  width: 552px;
  left: calc((100vw - 552px) / 2);
  top: 200vh;
}

.menu-wrapper {
  display: block;
  height: 40px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgb(190, 132, 43);
  animation: 0.6s slide_menu_to_bottom 0.6s backwards;
}
.menu-wrapper button {
  height: 100%;
  width: 100%;
  background-color: inherit;
  border: none;
  color: rgb(190, 132, 43);
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 3px;
}

@keyframes slide_sth_to_left {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
.answer_table {
  margin: auto;
  width: fit-content;
  animation: 0.425s slide_sth_to_left 1.275s backwards;
}

.answer_table-line {
  display: grid;
  height: 60.75px;
  width: 100%;
  margin: 4.25px auto;
  grid-template-columns: repeat(5, 65px);
}

.answer_table-line-cell {
  color: rgb(190, 132, 43);
  font-size: 37px;
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  text-align: center;
  margin: 4.25px;
  line-height: 56.5px;
  height: 56.5px;
  width: 56.5px;
  border: 1px solid rgb(190, 132, 43);
}

@keyframes slide_sth_to_right {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
.keyboard {
  display: block;
  width: fit-content;
  margin: 20px auto;
  animation: 0.425s slide_sth_to_right 1.275s backwards;
}

.keyboard-line {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}
.keyboard-line button {
  color: rgb(190, 132, 43);
  font-size: 27px;
  font-family: "Courier New", Courier, monospace;
  margin: 3px;
  height: 58px;
  width: 52px;
  border-radius: 5px;
  border: 1px solid rgb(190, 132, 43);
  background-color: rgb(38, 39, 47);
}

.keyboard-line-button--long_text {
  width: 78px !important;
  font-size: 18px !important;
}

.backspace-svg {
  margin: 15px auto;
}

@keyframes slide_sth_to_left {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes disappearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.result_modal_window {
  position: absolute;
  opacity: 1 !important;
  height: 550px;
  width: 450px;
  top: calc((100vh - 550px) / 2);
  left: calc((100vw - 450px) / 2);
  background-color: rgb(38, 39, 47);
  border: 3px solid rgb(190, 132, 43);
}

.result_modal_window-title {
  color: rgb(190, 132, 43);
  font-size: 38px;
  font-family: "Courier New", Courier, monospace;
  margin: 22px auto 19px;
  width: 450px;
  text-align: center;
}

.result_table-line {
  display: grid;
  width: fit-content;
  margin: auto;
  grid-template-columns: repeat(5, 1fr);
}

.result_table-line-cell {
  margin: 3px;
  height: 63.2913385827px;
  width: 63.2913385827px;
  border: 2px solid rgb(190, 132, 43);
}

.slide_left--animation {
  animation: 1.7s slide_sth_to_left 0.95s backwards;
}

.disappearance--animation {
  opacity: 0.3;
  animation: 1.9s disappearance 0.95s backwards;
}

@keyframes move_char_in_cell_outside {
  0%, 100% {
    margin-top: 0;
  }
  50% {
    margin-top: -32.75px;
  }
}
@keyframes trembling {
  0%, 100% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(7px);
  }
  66% {
    transform: translateX(-7px);
  }
}
.cell--state-n--animation-1 {
  animation: 1s flip--n-color 0.15s forwards;
}
.cell--state-n--animation-1 div {
  animation: 1s move_char_in_cell_outside 0.15s;
}

.cell--state-n--color-1 {
  animation: 1s change_color--n-color 0.15s forwards;
}

.cell--state-g--animation-1 {
  animation: 1s flip--g-color 0.15s forwards;
}
.cell--state-g--animation-1 div {
  animation: 1s move_char_in_cell_outside 0.15s;
}

.cell--state-g--color-1 {
  animation: 1s change_color--g-color 0.15s forwards;
}

.cell--state-y--animation-1 {
  animation: 1s flip--y-color 0.15s forwards;
}
.cell--state-y--animation-1 div {
  animation: 1s move_char_in_cell_outside 0.15s;
}

.cell--state-y--color-1 {
  animation: 1s change_color--y-color 0.15s forwards;
}

.cell--state-n--animation-2 {
  animation: 1s flip--n-color 0.3s forwards;
}
.cell--state-n--animation-2 div {
  animation: 1s move_char_in_cell_outside 0.3s;
}

.cell--state-n--color-2 {
  animation: 1s change_color--n-color 0.3s forwards;
}

.cell--state-g--animation-2 {
  animation: 1s flip--g-color 0.3s forwards;
}
.cell--state-g--animation-2 div {
  animation: 1s move_char_in_cell_outside 0.3s;
}

.cell--state-g--color-2 {
  animation: 1s change_color--g-color 0.3s forwards;
}

.cell--state-y--animation-2 {
  animation: 1s flip--y-color 0.3s forwards;
}
.cell--state-y--animation-2 div {
  animation: 1s move_char_in_cell_outside 0.3s;
}

.cell--state-y--color-2 {
  animation: 1s change_color--y-color 0.3s forwards;
}

.cell--state-n--animation-3 {
  animation: 1s flip--n-color 0.45s forwards;
}
.cell--state-n--animation-3 div {
  animation: 1s move_char_in_cell_outside 0.45s;
}

.cell--state-n--color-3 {
  animation: 1s change_color--n-color 0.45s forwards;
}

.cell--state-g--animation-3 {
  animation: 1s flip--g-color 0.45s forwards;
}
.cell--state-g--animation-3 div {
  animation: 1s move_char_in_cell_outside 0.45s;
}

.cell--state-g--color-3 {
  animation: 1s change_color--g-color 0.45s forwards;
}

.cell--state-y--animation-3 {
  animation: 1s flip--y-color 0.45s forwards;
}
.cell--state-y--animation-3 div {
  animation: 1s move_char_in_cell_outside 0.45s;
}

.cell--state-y--color-3 {
  animation: 1s change_color--y-color 0.45s forwards;
}

.cell--state-n--animation-4 {
  animation: 1s flip--n-color 0.6s forwards;
}
.cell--state-n--animation-4 div {
  animation: 1s move_char_in_cell_outside 0.6s;
}

.cell--state-n--color-4 {
  animation: 1s change_color--n-color 0.6s forwards;
}

.cell--state-g--animation-4 {
  animation: 1s flip--g-color 0.6s forwards;
}
.cell--state-g--animation-4 div {
  animation: 1s move_char_in_cell_outside 0.6s;
}

.cell--state-g--color-4 {
  animation: 1s change_color--g-color 0.6s forwards;
}

.cell--state-y--animation-4 {
  animation: 1s flip--y-color 0.6s forwards;
}
.cell--state-y--animation-4 div {
  animation: 1s move_char_in_cell_outside 0.6s;
}

.cell--state-y--color-4 {
  animation: 1s change_color--y-color 0.6s forwards;
}

.cell--state-n--animation-5 {
  animation: 1s flip--n-color 0.75s forwards;
}
.cell--state-n--animation-5 div {
  animation: 1s move_char_in_cell_outside 0.75s;
}

.cell--state-n--color-5 {
  animation: 1s change_color--n-color 0.75s forwards;
}

.cell--state-g--animation-5 {
  animation: 1s flip--g-color 0.75s forwards;
}
.cell--state-g--animation-5 div {
  animation: 1s move_char_in_cell_outside 0.75s;
}

.cell--state-g--color-5 {
  animation: 1s change_color--g-color 0.75s forwards;
}

.cell--state-y--animation-5 {
  animation: 1s flip--y-color 0.75s forwards;
}
.cell--state-y--animation-5 div {
  animation: 1s move_char_in_cell_outside 0.75s;
}

.cell--state-y--color-5 {
  animation: 1s change_color--y-color 0.75s forwards;
}

@keyframes flip--n-color {
  0% {
    background-color: rgb(38, 39, 47);
    height: 56.5px;
  }
  50% {
    background-color: rgb(38, 39, 47);
    height: 0;
    margin-top: 36.75px;
  }
  100% {
    height: 56.5px;
    background-color: rgb(35, 34, 34);
  }
}
@keyframes change_color--n-color {
  0% {
    background-color: rgb(38, 39, 47);
  }
  100% {
    background-color: rgb(35, 34, 34);
  }
}
@keyframes flip--g-color {
  0% {
    background-color: rgb(38, 39, 47);
    height: 56.5px;
  }
  50% {
    background-color: rgb(38, 39, 47);
    height: 0;
    margin-top: 36.75px;
  }
  100% {
    height: 56.5px;
    background-color: rgb(17, 106, 14);
  }
}
@keyframes change_color--g-color {
  0% {
    background-color: rgb(38, 39, 47);
  }
  100% {
    background-color: rgb(17, 106, 14);
  }
}
@keyframes flip--y-color {
  0% {
    background-color: rgb(38, 39, 47);
    height: 56.5px;
  }
  50% {
    background-color: rgb(38, 39, 47);
    height: 0;
    margin-top: 36.75px;
  }
  100% {
    height: 56.5px;
    background-color: rgb(95, 94, 9);
  }
}
@keyframes change_color--y-color {
  0% {
    background-color: rgb(38, 39, 47);
  }
  100% {
    background-color: rgb(95, 94, 9);
  }
}
.trembling--animation {
  animation: trembling 0.3s;
}
