html, body {
  background-color: rgb(51, 67, 189);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.title-table {
  display: grid;
  width: fit-content;
  margin: 20px auto 10px;
  grid-template-columns: repeat(6, 35px);
  animation: 1.2s slide_top;
  color: white;
  font-size: 37px;
  font-family: "Courier New", Courier, monospace;
}
.title-table div {
  display: block;
  text-align: center;
}

.menu {
  position: absolute;
  display: flex;
  margin: auto;
  width: 552px;
  left: calc((100vw - 552px) / 2);
  top: 200vh;
}

.menu-wrapper {
  display: block;
  height: 45px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid rgb(255, 255, 255);
  animation: 1.2s slide_bottom;
}
.menu-wrapper button {
  height: 100%;
  width: 100%;
  background-color: inherit;
  border: none;
  color: white;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 3px;
}

.answer-table {
  margin: auto;
  width: fit-content;
  animation: 1.7s slide_menu;
}

.answer-table-line {
  display: grid;
  height: 62px;
  width: 100%;
  margin: 3px auto;
  grid-template-columns: repeat(5, 65px);
}
.answer-table-line div {
  color: white;
  font-size: 38px;
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  text-align: center;
  line-height: 59px;
  height: 59px;
  width: 59px;
  border: 1px solid rgb(255, 255, 255);
}

.trembling-animation {
  animation: trembling 0.3s;
}

.keybord {
  display: block;
  width: fit-content;
  margin: 20px auto;
  animation: 1.7s slide_keybord;
}

.keybord__line {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}
.keybord__line button {
  color: white;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  margin: 2px;
  height: 58px;
  width: 52px;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(51, 67, 189);
}

.keybord__line-button--long-text {
  width: 78px !important;
  font-size: 16px !important;
}

.backspace-svg {
  margin: 15px auto;
}

@keyframes trembling {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(7px);
  }
  66% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide_top {
  0% {
    font-size: 78px;
    width: fit-content;
    transform: translateY(calc(40vh - 20px));
    grid-template-columns: repeat(6, 100px);
  }
  50% {
    font-size: 78px;
    width: fit-content;
    transform: translateY(calc(40vh - 20px));
    grid-template-columns: repeat(6, 100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide_bottom {
  0% {
    transform: translateY(calc(-160vh + 0px + 88px));
  }
  40% {
    transform: translateY(calc(-160vh + 0px + 88px));
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide_menu {
  0% {
    transform: translateX(100vw);
  }
  75% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide_keybord {
  0% {
    transform: translateX(-100vw);
  }
  75% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes flip {
  0% {
    background-color: rgb(51, 67, 189);
    height: 59px;
  }
  50% {
    background-color: rgb(51, 67, 189);
    height: 0;
    margin-top: 35.5px;
  }
  100% {
    height: 59px;
  }
}
@keyframes move_outside {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -35.5px;
  }
  100% {
    margin-top: 0;
  }
}
.cell--state-n {
  animation: 1s flip;
  background-color: rgb(71, 70, 70);
}
.cell--state-n div {
  animation: 1s move_outside;
}

.cell--state-g {
  animation: 1s flip;
  background-color: rgb(38, 168, 58);
}
.cell--state-g div {
  animation: 1s move_outside;
}

.cell--state-y {
  animation: 1s flip;
  background-color: rgb(218, 215, 50);
}
.cell--state-y div {
  animation: 1s move_outside;
}
