html, body {
  background-color: rgb(40, 41, 48);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.title-table {
  display: grid;
  width: fit-content;
  margin: 40vh auto 0px;
  grid-template-columns: repeat(6, 100px);
  animation: 2.55s slide_top;
  color: rgb(185, 127, 39);
  font-size: 78px;
  font-family: "Courier New", Courier, monospace;
}
.title-table .animation1 {
  animation: 1.2s slide_right;
}
.title-table .animation2 {
  animation: 1.3s slide_right;
}
.title-table .animation3 {
  animation: 1.4s slide_right;
}
.title-table .animation4 {
  animation: 1.5s slide_right;
}
.title-table .animation5 {
  animation: 1.6s slide_right;
}
.title-table .animation6 {
  animation: 1.7s slide_right;
}
.title-table div {
  display: block;
  text-align: center;
}

.menu {
  display: flex;
  margin: auto;
  width: 552px;
  animation: 2.55s slide_menu;
}

.menu-wrapper {
  display: block;
  height: 45px;
  width: 100%;
  margin: 0px auto;
  border: 2px solid rgb(185, 127, 39);
}
.menu-wrapper button {
  height: 100%;
  width: 100%;
  background-color: inherit;
  border: none;
  color: rgb(185, 127, 39);
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 3px;
}

@keyframes slide_right {
  0% {
    transform: translateX(-80vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide_top {
  0% {
    transform: translateY(8vh);
  }
  75% {
    transform: translateY(8vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide_menu {
  0% {
    transform: translateX(100vw);
  }
  75% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide_keybord {
  0% {
    transform: translateX(-100vw);
  }
  75% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
