html, body {
  background-color: rgb(38, 39, 47);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

@keyframes slide_title_to_top {
  0% {
    transform: translateY(8vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide_sth_to_right {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
.title-container {
  display: grid;
  width: fit-content;
  margin: 40vh auto 0px;
  grid-template-columns: repeat(6, 100px);
  animation: 0.8925s slide_title_to_top 1.53s backwards;
  color: rgb(190, 132, 43);
  font-size: 78px;
  font-family: "Courier New", Courier, monospace;
}
.title-container .animation1 {
  animation: 1.44s slide_sth_to_right 0.5s backwards;
}
.title-container .animation2 {
  animation: 1.44s slide_sth_to_right 0.4s backwards;
}
.title-container .animation3 {
  animation: 1.44s slide_sth_to_right 0.3s backwards;
}
.title-container .animation4 {
  animation: 1.44s slide_sth_to_right 0.2s backwards;
}
.title-container .animation5 {
  animation: 1.44s slide_sth_to_right 0.1s backwards;
}
.title-container .animation6 {
  animation: 1.44s slide_sth_to_right 0s backwards;
}
.title-container div {
  display: block;
  text-align: center;
}

@keyframes slide_sth_to_left {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
.menu {
  display: flex;
  margin: auto;
  width: 564px;
  animation: 1.02s slide_sth_to_left 1.53s backwards;
}

.menu-button_wrapper {
  display: block;
  height: 40px;
  width: 100%;
  margin: 0px auto;
  border: 2px solid rgb(190, 132, 43);
}
.menu-button_wrapper button {
  height: 100%;
  width: 100%;
  background-color: inherit;
  border: none;
  color: rgb(190, 132, 43);
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 3px;
}

@keyframes slide_links_to_top {
  0% {
    transform: translateY(50vh);
  }
  100% {
    transform: translateY(0);
  }
}
.footer_links {
  position: absolute;
  bottom: 20px;
  right: 40px;
  display: flex;
  width: fit-content;
  animation: 1.2s slide_links_to_top 1.74s backwards;
}

.footer_links-container {
  margin: 2px;
  display: block;
  height: 60px;
  width: 60px;
  border: 1px solid rgb(190, 132, 43);
}
.footer_links-container button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: inherit;
  color: rgb(190, 132, 43);
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
.footer_links-container img {
  height: 100%;
  width: 100%;
}

@keyframes rotating {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
.clock {
  margin: 4.8px;
  height: 40px;
  width: 40px;
  border: 2px solid rgb(190, 132, 43);
  border-radius: 50%;
}

.clock-point {
  position: fixed;
  height: 2px;
  width: 2px;
  margin: 19px 19px;
  background-color: rgb(190, 132, 43);
  border-radius: 50%;
  z-index: 4;
}

.clock-hand_container {
  position: fixed;
  height: 40px;
  width: 40px;
}

.clock-hours_hand {
  position: fixed;
  margin: 5.5px 19.07px 0;
  height: 14.5px;
  width: 1.86px;
  border-radius: 50%;
  transform-origin: 50% 100%;
  background-color: rgb(190, 132, 43);
  animation: 86400s rotating infinite linear;
}

.clock-minutes_hand {
  position: fixed;
  margin: 3.5px 19.07px 0;
  height: 16.5px;
  width: 1.86px;
  border-radius: 50%;
  transform-origin: 50% 100%;
  background-color: rgb(190, 132, 43);
  animation: 3600s rotating infinite linear;
}
