@mixin default-font($font-size) {
    color: white;
    font-size: $font-size;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    background-color: rgb(51, 67, 189);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}