@import "options";

@mixin global--default_font($font-size) {
    color: $global--second-color;
    font-size: $font-size;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    background-color: $global--first_color;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}