$default-background-color: rgb(51, 67, 189);

$big-title-width: 600px;
$small-title-width: 210px;

$big-title-margin-top: 40vh;
$big-title-margin-bottom: 0px;
$small-title-margin-top: 20px;
$small-title-margin-bottom: 10px;

$anim-basic-duration: 1.2s;

$table-wordle-cell-size: 65px;
$table-wordle-cell-margin: 3px;

$keybord-cell-height: 58px;
$keybord-cell-width: 52px;