$default-background-color: rgb(38, 39, 47);
$default-second-color: rgb(185, 127, 39);  // don't forget change this value in images/backspace.svg

$state-n-color: rgb(35, 34, 34);
$state-g-color: rgb(17, 106, 14);
$state-y-color: rgb(95, 94, 9);

$big-title-width: 600px;
$small-title-width: 210px;

$big-title-margin-top: 40vh;
$big-title-margin-bottom: 0px;
$small-title-margin-top: 15px;
$small-title-margin-bottom: 9px;

$anim-basic-duration: 1.2s;

$table-wordle-cell-size: 66px;
$table-wordle-cell-margin: 4.25px;

$keybord-cell-height: 58px;
$keybord-cell-width: 52px;
$keybord-cell-margin: 3px;