@import "default";
@import "params";

.title-table {
    display: grid;
    width: fit-content;
    margin: $small-title-margin-top auto $small-title-margin-bottom;
    grid-template-columns: repeat(6, calc($small-title-width / 6));
    animation: $anim-basic-duration slide_top;
    
    @include default-font(37px);

    div {
        display: block;
        text-align: center;
    }
}

.menu {
    position: absolute;
    display: flex;
    margin: auto;
    width: calc($big-title-width * 0.92);
    left: calc((100vw - $big-title-width * 0.92) / 2);
    top: 200vh;
}

.menu-wrapper {
    display: block;
    height: 45px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid $default-second-color;
    animation: $anim-basic-duration slide_bottom;

    button {
        height: 100%;
        width: 100%;
        background-color: inherit;
        border: none;
        @include default-font(25px);
        letter-spacing: 3px;
    }
}

.answer-table {
    margin: auto;
    width: fit-content;
    animation: calc($anim-basic-duration + 0.5s) slide_left;
}

.answer-table-line {
    display: grid;
    height: calc($table-wordle-cell-size - $table-wordle-cell-margin);
    width: 100%;
    margin: $table-wordle-cell-margin auto;
    grid-template-columns: repeat(5, $table-wordle-cell-size);
}

.answer-table-line__cell {
    @include default-font(37px);
    overflow: hidden;
    text-align: center;
    margin: $table-wordle-cell-margin;
    line-height: calc($table-wordle-cell-size - $table-wordle-cell-margin * 2);
    height: calc($table-wordle-cell-size - $table-wordle-cell-margin * 2);
    width: calc($table-wordle-cell-size - $table-wordle-cell-margin * 2);
    border: 1px solid $default-second-color;
}

.trembling-animation {
    animation: trembling 0.3s;
}

.keybord {
    display: block;
    width: fit-content;
    margin: 20px auto;
    animation: calc($anim-basic-duration + 0.5s) slide_keybord;
}

.keybord__line {
    display: flex;
    margin: 0 auto;
    width: fit-content;

    button {
        @include default-font(27px);
        margin: $keybord-cell-margin;
        height: $keybord-cell-height;
        width: $keybord-cell-width;
        border-radius: 5px;
        border: 1px solid $default-second-color;
        background-color: $default-background-color;
    }
}

.keybord__line-button--long-text {
    width: calc($keybord-cell-width * 1.5) !important;
    font-size: 18px !important;
}

.backspace-svg {
    margin: 15px auto;
}

.cell--state-n--color {background-color: $state-n-color !important}
.cell--state-g--color {background-color: $state-g-color !important}
.cell--state-y--color {background-color: $state-y-color !important}

$flip-animation-time: 1s;
@mixin flip-animation($color) {
    animation: $flip-animation-time flip;
    background-color: $color;

    div {
        animation: $flip-animation-time move_outside;
    }
}

.cell--state-n--animation {@include flip-animation($state-n-color);}
.cell--state-g--animation {@include flip-animation($state-g-color);}
.cell--state-y--animation {@include flip-animation($state-y-color);}

.result-modal-window {
    position: absolute;
    opacity: 1 !important;
    height: $result-modal-window-height;
    width: $result-modal-window-width;
    top: calc((100vh - $result-modal-window-height) / 2);
    left: calc((100vw -  $result-modal-window-width) / 2);
    background-color: $default-background-color;
    border: 3px solid $default-second-color;
}

.result-modal-window__title {
    @include default-font(38px);
    margin: $result-modal-window-height * 0.04 auto calc($result-modal-window-height * 0.04 - $result-modal-window-table-margin);
    width: $result-modal-window-width;
    text-align: center;
}

.result-table-line {
    display: grid;
    width: fit-content;
    margin: auto;
    grid-template-columns: repeat(5, 1fr);
}

.result-table-line__cell {
    margin: $result-modal-window-table-margin;
    height: calc($result-modal-window-height * 0.8 / 6.35 - $result-modal-window-table-margin * 2);
    width: calc($result-modal-window-height * 0.8 / 6.35  - $result-modal-window-table-margin * 2);
    border: 2px solid $default-second-color;
}

.slide_left--animation {
    animation: calc($flip-animation-time + 0.9s) slide_left;
}

.disappearance--animation {
    opacity: 0.3;
    animation: calc($flip-animation-time + 0.9s) disappearance;
}

@keyframes disappearance {
    0%   {opacity: 1;}
    75%   {opacity: 1;}
    100% {opacity: 0.3;}
}

@keyframes trembling {
    0% {transform: translateX(0);}
    33% {transform: translateX(7px);}
    66% {transform: translateX(-7px);}
    100% {transform: translateX(0);}
}

@keyframes slide_top {
    0% {
        font-size: 78px;
        width: fit-content;
        transform: translateY(calc($big-title-margin-top - $small-title-margin-top));
        grid-template-columns: repeat(6, calc($big-title-width / 6));
    }
    50% {
        font-size: 78px;
        width: fit-content;
        transform: translateY(calc($big-title-margin-top - $small-title-margin-top));
        grid-template-columns: repeat(6, calc($big-title-width / 6));
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide_bottom {
    0%   {transform: translateY(calc(-200vh + $big-title-margin-top + $big-title-margin-bottom + 88px));}
    40%  {transform: translateY(calc(-200vh + $big-title-margin-top + $big-title-margin-bottom + 88px));}
    100% {transform: translateY(0);}
}

@keyframes slide_left {
    0%   {transform: translateX(100vw);}
    75%  {transform: translateX(100vw)}
    100% {transform: translateX(0)}
}

@keyframes slide_keybord {
    0%   {transform: translateX(-100vw);}
    75%  {transform: translateX(-100vw)}
    100% {transform: translateX(0)}
}

@keyframes flip {
    0%   {
        background-color: $default-background-color;
        height: calc($table-wordle-cell-size - $table-wordle-cell-margin * 2);
    }
    50%  {
        background-color: $default-background-color;
        height: 0;
        margin-top: calc($table-wordle-cell-size / 2 + $table-wordle-cell-margin);
    }
    100% {
        height: calc($table-wordle-cell-size - $table-wordle-cell-margin * 2);
    }
}

@keyframes move_outside {
    0%   {margin-top: 0}
    50%  {margin-top: calc(-1 * ($table-wordle-cell-size / 2 + $table-wordle-cell-margin))}
    100% {margin-top: 0}
}