@import "default";
@import "params";

.title-table {
    display: grid;
    width: fit-content;
    margin: $big-title-margin-top auto $big-title-margin-bottom;
    grid-template-columns: repeat(6, calc($big-title-width / 6));
    animation: calc(($anim-basic-duration + 0.5s) * 1.5) slide_top;

    @include default-font(78px);

    .animation1 { animation: $anim-basic-duration slide_right; }
    .animation2 { animation: calc($anim-basic-duration + 0.1s) slide_right; }
    .animation3 { animation: calc($anim-basic-duration + 0.2s) slide_right; }
    .animation4 { animation: calc($anim-basic-duration + 0.3s) slide_right; }
    .animation5 { animation: calc($anim-basic-duration + 0.4s) slide_right; }
    .animation6 { animation: calc($anim-basic-duration + 0.5s) slide_right; }

    div {
        display: block;
        text-align: center;
    }
}

.menu {
    display: flex;
    margin: auto;
    width: calc($big-title-width * 0.92);
    animation: calc(($anim-basic-duration + 0.5s) * 1.5) slide_left;
}

.menu-wrapper {
    display: block;
    height: 45px;
    width: 100%;
    margin: 0px auto;
    border: 2px solid $default-second-color;

    button {
        height: 100%;
        width: 100%;
        background-color: inherit;
        border: none;
        @include default-font(25px);
        letter-spacing: 3px;
    }
}

.footer-links {
    position: absolute;
    bottom: 20px;
    right: 40px;
    display: flex;
    width: fit-content;
    animation: calc(($anim-basic-duration + 0.5s) * 1.8) slide_left;
}

$footer-links-button-size: 60px;
$footer-links-button-margin: 2px;
.footer-links__container {
    margin: $footer-links-button-margin;
    display: block;
    height: $footer-links-button-size;
    width: $footer-links-button-size;
    border: 1px solid $default-second-color;
    button {
        height: 100%;
        width: 100%;
        border: none;
        background-color: inherit;
        @include default-font(20px);
    }
    img {
        height: 100%;
        width: 100%;
    }
}

.clock {
    margin: calc($footer-links-button-size / 6 - 3.2px - $footer-links-button-margin);
    height: calc($footer-links-button-size / 3 * 2);
    width: calc($footer-links-button-size / 3 * 2);
    border: 2px solid $default-second-color;
    border-radius: 50%;
}

.clock__point {
    position: fixed;
    margin: calc($footer-links-button-size / 3 - 1px) calc($footer-links-button-size / 3 - 1px);
    border: 0.85px solid $default-second-color;
    background-color: $default-second-color;
    border-radius: 50%;
    z-index: 4;
}

.clock_hand_container {
    position: fixed;
    height: calc($footer-links-button-size / 3 * 2);
    width: calc($footer-links-button-size / 3 * 2);
}

@mixin clock_hand($width, $height, $margin-delta, $transform-origin) {
    position: fixed;
    margin: calc($footer-links-button-size / 3 - $height + $margin-delta) calc($footer-links-button-size / 3 - $width / 2) 0;
    height: $height;
    width: $width;
    transform-origin: $transform-origin;
    background-color: $default-second-color;
}

.clock__hours {
    @include clock_hand(1.7px, 14.5px, 0px, 50% 100%);
    animation: 86400s rotating infinite linear;
}
.clock__minutes {
    @include clock_hand(1.7px, 16.5px, 0px, 50% 100%);
    animation: 3600s rotating infinite linear;
}
.clock__seconds {
    @include clock_hand(1.7px, 16px, 2.5px, 50% 84.4%);  // transform-origin value is (1 - $margin-delta/$height)
    animation: 60s rotating infinite steps(60);
}

@keyframes slide_right {
    0%   {transform: translateX(-80vw)}
    100% {transform: translateX(0)}
}

@keyframes slide_top {
    0%   {transform: translateY(8vh)}
    75%  {transform: translateY(8vh)}
    100% {transform: translateY(0)}
}

@keyframes slide_left {
    0%   {transform: translateX(100vw);}
    75%  {transform: translateX(100vw)}
    100% {transform: translateX(0)}
}

@keyframes slide_keybord {
    0%   {transform: translateX(-100vw);}
    75%  {transform: translateX(-100vw)}
    100% {transform: translateX(0)}
}

@keyframes rotating{
    0% {transform: rotate(0turn)}
    100% {transform: rotate(1turn)}
}
