@import "./keyframes/rotating";
@import "./keyframes/overload_clock_hour_hand";
@import "./keyframes/overload_clock_minute_hand";
@import "./keyframes/overload_clock_point";
@import "./keyframes/overload_clock";

.clock {
    margin: calc($global--footer_links-button-size / 6 - 3.2px - $global--footer_links-button-margin);
    height: calc($global--footer_links-button-size / 3 * 2);
    width: calc($global--footer_links-button-size / 3 * 2);
    border: 2px solid $global--second-color;
    border-radius: 50%;
}

$local--clock_point-size: 1.3px;
.clock-point {
    position: fixed;
    height: $local--clock_point-size;
    width: $local--clock_point-size;
    margin: calc($global--footer_links-button-size / 3 - $local--clock_point-size / 2) calc($global--footer_links-button-size / 3 - $local--clock_point-size / 2);
    background-color: $global--second-color;
    border-radius: 50%;
    z-index: 4;
}

.clock-hand-wrapper {
    position: fixed;
    height: calc($global--footer_links-button-size / 3 * 2);
    width: calc($global--footer_links-button-size / 3 * 2);
}

@mixin clock_hand_generetor($width, $height, $transform-origin, $animation-duration) {
    position: fixed;
    margin: calc($global--footer_links-button-size / 3 - $height) calc($global--footer_links-button-size / 3 - $width / 2) 0;
    height: $height;
    width: $width;
    border-radius: 50% 50% 30% 30%;
    transform-origin: $transform-origin;
    background-color: $global--second-color;
    animation: $animation-duration rotating infinite linear forwards;
}

.clock-hours_hand { @include clock_hand_generetor(1.9px, 13px, 50% 100%, 43200s); }
.clock-minutes_hand { @include clock_hand_generetor(1.9px, 17px, 50% 100%, 3600s); }

.clock-hours_hand--overloaded { animation: 4s overload_clock_hour_hand linear forwards; }
.clock-minutes_hand--overloaded { animation: 4s overload_clock_minute_hand linear forwards; }
.clock-point--overloaded { animation: 4s overload_clock_point alternate forwards; }
.clock--overloaded { animation: 4s overload_clock alternate forwards; }