@import "./keyframes/slide_title_to_top";
@import "../common_keyframes/slide_sth_to_right";

$local--slide_title-duration: calc(($global--animation-basic_duration + 0.5s) * 1.5);
.title-container {
    display: grid;
    width: fit-content;
    margin: $global--big_title-margin_top auto $global--big_title-margin_bottom;
    grid-template-columns: repeat(6, calc($global--big_title-width / 6));
    animation: $local--slide_title-duration * 0.35 slide_title_to_top $local--slide_title-duration * 0.6 backwards;

    @include global--default_font(78px);

    @for $i from 1 through 6 {
        .animation#{$i} {
            animation: calc($global--animation-basic_duration * 1.2) slide_sth_to_right 0.1s * (6 - $i) backwards;
        }
    }

    div {
        display: block;
        text-align: center;
    }
}