<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <title>Wordle</title>
    <link rel="shortcut icon" type="image/ico" href="{{ url_for( 'static', path='images/favicon.ico' ) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', path='css/game.css' )}}">
    <script src="{{ url_for( 'static', path='js/keyboard_events.js' )}}"></script>
    <script defer src="{{ url_for( 'static', path='js/load_game_html.js' )}}"></script>
    <script defer src="{{ url_for( 'static', path='js/keyboards/' + lang + '_keyboard.js' )}}"></script>
</head>

<body>
    <div id="page-content">
        <div class="title-table" id="title-table"></div>
        <div class="answer-table" id="answer-table"></div>
        <div class="keybord" id="keybord-table"></div>
        <div class="menu trembling-animation">
            <a href="/game" class="menu-wrapper">
                <button class="menu-wrapper__button">{{ play }}</button>
            </a>
        </div>
    </div>
    <div class="result-modal-window" id="result-modal-window" hidden>
        <div class="result-modal-window__title" id="result-modal-window__title"></div>
        <div id="result-table"></div>
    </div>
</body>

</html>