<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <title>Wordle</title>
    <link rel="shortcut icon" type="image/ico" href="{{ url_for( 'static', path='images/favicon.ico' ) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', path='css/index.css' )}}">
    <script src="{{ url_for( 'static', path='js/cookie.js' )}}"></script>
    <script defer src="{{ url_for( 'static', path='js/load_index_html.js' )}}"></script>
    <script defer src="{{ url_for( 'static', path='js/init_clocks.js' )}}"></script>
</head>

<body>
    <div class="title-container" id="title-container"></div>
    <div class="menu">
        <a href="/game" class="menu-button-wrapper"><button>{{ template_translation["PLAY"] }}</button></a>
    </div>
    <div class="footer_links">
        <div class="footer_links-container">
            <button onclick="overloadClocks();setCookie('randint', Math.floor(Math.random() * 10000), {'max-age': 31536000})">
                <div class="footer_links-text" id="new_word" hidden>
                    {{ template_translation["NEW WORD"] }}
                </div>
                <div class="clock" id="clock">
                    <div class="clock-point" id="clock-point"></div>
                    <div class="clock-hand-wrapper" id="clock-hours_hand-wrapper">
                        <div class="clock-hours_hand" id="clock-hours_hand"></div>
                    </div>
                    <div class="clock-hand-wrapper" id="clock-minutes_hand-wrapper">
                        <div class="clock-minutes_hand" id="clock-hours_hand"></div>
                    </div>
                </div>
            </button>
        </div>
        <a href="/" class="footer_links-container">
            <button onclick="setCookie('lang', '{{ next_lang }}', {'max-age': 7200})">{{ lang.upper() }}</button>
        </a>
        <a href="https://github.com/tenolly/wordle" class="footer_links-container">
            <img src="{{ url_for( 'static', path='images/github.svg' )}}">
        </a>
    </div>
</body>

</html>
